.packing {
  margin-top: -70px;
  font-size: 50px;
  background-repeat: no-repeat;
}
html{
  box-sizing: border-box;
}

.listbackground{

  background: rgb(243, 252, 247); 
   margin: 0;
  padding: 0;
  /* background-image: url(../../assets/packing2.jpg);
  background-size: 100%; */
  
  
  color: rgb(0, 0, 0);
  
  font-family: 'Times New Roman', Times, serif;
  font-size: large;

 
 
}